# Prep the Data

Let's prep the data that we have. I want the murder rate of the most dangerous cities in the world.

In [1]:
import pandas as pd

In [3]:
ls

license.txt*                           worldcities.csv*
prep-data.ipynb                        worldcities.xlsx*
simplemaps_worldcities_basicv1.73.zip

This is a data set of cities and their lat-longs

In [24]:
city_data = (pd
             .read_csv('worldcities.csv', usecols=['city', 'lat', 'lng'])
             .drop_duplicates(['city'])
            )

In [25]:
city_data.head()

      city      lat       lng
0    Tokyo  35.6897  139.6922
1  Jakarta  -6.2146  106.8451
2    Delhi  28.6600   77.2300
3   Mumbai  18.9667   72.8333
4   Manila  14.5958  120.9772

And get the murder rates for various cities.

In [26]:
murder_rates = pd.read_html('https://en.wikipedia.org/wiki/List_of_cities_by_murder_rate')[1]

In [27]:
len(city_data), len(murder_rates)

(23927, 50)

In [34]:
joined = murder_rates.set_index('City').join(city_data.set_index('city'), how='inner')

In [35]:
len(joined)

42

That's good enough, as I'm just doing an example.

Now the output wants, lat, long, size, color (optional) and name, so let's change the columns to match.

In [41]:
final = (joined
 .reset_index()
.rename(columns={'index': 'name', 'lng': 'long', 'Homicidesper 100,000per year': 'size' })
 [['name', 'size', 'lat', 'long']]
)

In [44]:
final['color'] = 1

In [45]:
final.to_csv('final.csv', index=False)

In [46]:
!head final.csv

name,size,lat,long,color
Tijuana,134.24,32.525,-117.0333,1
Juárez,104.54,31.7386,-106.487,1
Uruapan,85.54,19.4208,-102.0628,1
Irapuato,80.74,20.6667,-101.35,1
Caracas,74.65,10.5,-66.9333,1
Cape Town,68.28,-33.925,18.425,1
St. Louis,64.54,38.6358,-90.2451,1
Vitória da Conquista,60.01,-14.8661,-40.8394,1
Baltimore,58.64,39.3051,-76.6144,1